.btnArea {
    color: white;
    width: 102px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px;
    padding: 4px 2;

    .increment {
        cursor: pointer;
    }

    .count {
        font-size: 13px;
        text-align: center;
    }

    .decrement {
        cursor: pointer;
    }

}