* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.App {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .mainSection {
        width: 82vw;
        height: 92vh;
       // border: 1px solid white;
        display: flex;
        flex-direction: column;
        .categorySection {
            height: 4rem;
            width: 82vw;
            //border: 1px solid white;
            display: flex;
            padding-left: 9px;
           
        }

        @media only screen and (max-width: 767px) {
            .categorySection {
                overflow-x: scroll;
                overflow-y: hidden;

            }

           

        } 

        .dishCategorySection{
            height: 736px;
            width: 82vw;
           // border: 1px solid red;
            display: flex;
            flex-direction: column;
           
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .dishCategorySection::-webkit-scrollbar{

            width: 10px;
        }
    }
}

@media only screen and (max-width: 767px) {

    .App {

        height: 100vh;
        width: 100vw;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
}